.version.catalogue /* version checker */
{
	color: #000002;
	background-color: #1BD968;
}

.html
{
	background-color: #FEEDD5;
}

#page
{
	z-index: 1;
	width: 1074px;
	min-height: 1208px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 685px;
	width: 0.01px;
}

#u136
{
	z-index: 3;
	min-height: 423px;
	padding-bottom: 60px;
}

#u136_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1074px;
	left: -100px;
}

#u137
{
	z-index: 4;
	width: 387px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 447px;
}

#u136-bw
{
	z-index: 3;
	min-height: 423px;
}

#pu182
{
	width: 0.01px;
	margin-left: -100px;
}

#u182,#u182-bw
{
	z-index: 2;
	height: 76px;
}

#menuu143
{
	z-index: 6;
	width: 1080px;
	margin-right: -10000px;
	left: 100px;
}

#u144
{
	width: 268px;
	min-height: 76px;
	margin-right: -10000px;
}

#u147
{
	width: 268px;
	padding-bottom: 47px;
}

#u147:hover
{
	width: 268px;
	min-height: 0px;
	margin: 0px;
}

#u150-4
{
	width: 268px;
	min-height: 29px;
	margin-right: -10000px;
	top: 23px;
}

#u147:hover #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 268px;
	margin: 0px -10000px 0px 0px;
}

#u147.MuseMenuActive #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 268px;
	margin: 0px -10000px 0px 0px;
}

#u151
{
	width: 268px;
	min-height: 76px;
	margin-right: -10000px;
	left: 270px;
}

#u152
{
	width: 268px;
	padding-bottom: 47px;
}

#u147.MuseMenuActive,#u152:hover
{
	width: 268px;
	min-height: 0px;
	margin: 0px;
}

#u152.MuseMenuActive
{
	width: 268px;
	min-height: 0px;
	margin: 0px;
}

#u155-4
{
	width: 254px;
	min-height: 29px;
	margin-right: -10000px;
	top: 23px;
}

#u152:hover #u155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 254px;
	margin: 0px -10000px 0px 0px;
}

#u152.MuseMenuActive #u155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 254px;
	margin: 0px -10000px 0px 0px;
}

#u153
{
	z-index: 19;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 31px;
	left: 254px;
}

#u152:hover #u153
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u152.MuseMenuActive #u153
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u156
{
	width: 267px;
	top: 76px;
}

#u188
{
	width: 265px;
	padding-bottom: 30px;
	margin-right: -10000px;
}

#u188:hover
{
	width: 265px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u190-4
{
	width: 257px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 15px;
	left: 2px;
}

#u188:hover #u190-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 257px;
	margin: 0px -10000px 0px 0px;
}

#u157,#u187,#u199
{
	width: 267px;
}

#u202
{
	width: 265px;
	padding-bottom: 30px;
	margin-right: -10000px;
}

#u188.MuseMenuActive,#u202:hover
{
	width: 265px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u202.MuseMenuActive
{
	width: 265px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u203-4
{
	width: 257px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 15px;
	left: 2px;
}

#u188.MuseMenuActive #u190-4,#u202:hover #u203-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 257px;
	margin: 0px -10000px 0px 0px;
}

#u202.MuseMenuActive #u203-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 257px;
	margin: 0px -10000px 0px 0px;
}

#u158
{
	width: 269px;
	min-height: 76px;
	margin-right: -10000px;
	left: 540px;
}

#u159
{
	width: 269px;
	padding-bottom: 47px;
}

#u159:hover
{
	width: 269px;
	min-height: 0px;
	margin: 0px;
}

#u160-4
{
	width: 269px;
	min-height: 29px;
	margin-right: -10000px;
	top: 23px;
}

#u159:hover #u160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 269px;
	margin: 0px -10000px 0px 0px;
}

#u165
{
	width: 269px;
	min-height: 76px;
	margin-right: -10000px;
	left: 811px;
}

#u168
{
	width: 269px;
	padding-bottom: 47px;
}

#u159.MuseMenuActive,#u168:hover
{
	width: 269px;
	min-height: 0px;
	margin: 0px;
}

#u168.MuseMenuActive
{
	width: 269px;
	min-height: 0px;
	margin: 0px;
}

#u171-4
{
	width: 269px;
	min-height: 29px;
	margin-right: -10000px;
	top: 23px;
}

#u159.MuseMenuActive #u160-4,#u168:hover #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 269px;
	margin: 0px -10000px 0px 0px;
}

#u168.MuseMenuActive #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 269px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1074px;
	padding-top: 36px;
	padding-bottom: 76px;
}

#page .verticalspacer
{
	clear: both;
}

